<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" id="<%= tool_name %>-help-heading" data-toggle="collapse" data-target="#<%= tool_name %>-help" aria-expanded="false" aria-controls="<%= tool_name %>-help">
          Screenshot Help
        </button>
      </h5>
    </div>

    <div id="<%= tool_name %>-help" class="collapse" data-toggle="collapse" aria-labelledby="<%= tool_name %>-help-heading" data-parent="#accordion">
      <div class="card-body bg-light">
        <pre style="margin-bottom:0;">This tool will attempt to take screenshots of domains and IP addreses using a phantomJS headless browser. When a screenshot is successfully taken, it will be visible on the Web Applications page.

What it does:

Given a list of target ips or domains, it sends a HEAD request to "/" on http and https and port 3000, 8080. No other path is checked.

If the HEAD request returns 200, 301, or 302, 404, or 500 a screenshot is taken and a line of output is written to the output file.

Valid screenshots are saved automatically to:

1280x720: hackmaster9000/public/ss/[http|https][target][port]-ss.png

Sorry it's slow, screenshot2 is an experimental version that takes the same arguments. It's faster (if it runs) but it will take up all the RAM and crash the server. 
</pre>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="container no-gutters">
  <div class="row">
    <div class='col-sm-6'>    
      <%= erb :'tools/tool_helpers/_text_input', locals: {
                tool_name: tool_name,
                label: "Target",
                field_name: "target",
                field_value: "",
                placeholder: "Target Domain(s) or IP(s) or mixed (ex: google.com 127.0.0.1)"
              }
      %>
    </div>
  </div>

  <hr>
  <%= erb :'partials/_tool_runner', layout: false, locals: {tool_name: tool_name} %>
</div>