<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" id="<%= tool_name%>-help-heading" data-toggle="collapse" data-target="#<%= tool_name %>-help" aria-expanded="false" aria-controls="<%= tool_name %>-help">
          zmap Help
        </button>
      </h5>
    </div>

  <div id="<%= tool_name %>-help" class="collapse" data-toggle="collapse" aria-labelledby="<%= tool_name %>-help-heading" data-parent="#accordion">
      <div class="card-body bg-light">
        <pre style="margin-bottom:0;">zmap is a fast internet-scope scanner like masscan. Only a port is required as input with default settings.

Without a target provided, zmap scans random permutations of IP addresses until "Max Targets" or "Max Results" is reached. Otherwise, scans the given CIDR range for that port.

**** NOTE ****
zmap writes its output files strangely. After zmap completes execution, run the following command:

mv scans/parsed/zmap-*.csv .

This will move the output file back into the project root directory where it will be parsed.</pre>
      </div>
    </div>
  </div>
</div>

<%= erb :'partials/_config_saver', layout: false, locals: {tool_name: tool_name} %>
<hr>
<div class="container no-gutters">
  <div class="row">
    <div class='col-sm-6'>
      <%= erb :'tools/tool_helpers/_text_input', locals: {
                tool_name: tool_name,
                label: "Target",
                field_name: "target",
                field_value: "",
                placeholder: "CIDR or leave blank for random hosts"
              }
      %>
    </div>
  </div>

  <form id="<%= tool_name %>-options">
    <div class="row">
      <div class='col-sm-6'>
        <%= erb :'tools/tool_helpers/_text_input', locals: {
                tool_name: tool_name,
                label: "Port",
                field_name: "port",
                field_value: "",
                checked: false,
                placeholder: "443 (ONE port only)"
            }
        %>
      </div>

      <div class='col-sm-6'>
        <%= erb :'tools/tool_helpers/_text_input', locals: {
                tool_name: tool_name,
                label: "Bandwidth",
                field_name: "bandwidth",
                field_value: "10M",
                checked: true,
                placeholder: ""
            }
        %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= erb :'tools/tool_helpers/_text_input_optional', locals: {
                tool_name: tool_name,
                label: "Max Targets",
                field_name: "max-targets",
                field_value: "10000",
                checked: true,
                placeholder: ""
            }
        %>
      </div>

      <div class="col-sm-6">
        <%= erb :'tools/tool_helpers/_text_input_optional', locals: {
                tool_name: tool_name,
                label: "Max Results",
                field_name: "max-results",
                field_value: "1000",
                checked: true,
                placeholder: ""
            }
        %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= erb :'tools/tool_helpers/_text_input', locals: {
                tool_name: tool_name,
                label: "Output Format",
                field_name: "output-format",
                field_value: "saddr,sport",
                checked: true,
                placeholder: ""
            }
        %>
      </div>
    </div>
  </form>
  <hr>
  <%= erb :'partials/_tool_runner', layout: false, locals: {tool_name: tool_name} %>
</div>
