<% 
  matching_hosts = Host.by_dns(@project, dns_record.record_key)
%>


<div class="card no-select" target="<%= dns_record.record_key %>">
  <div class="card-header align-items-center no-select table-<%= risk_to_color(dns_record.risk) %>" id="dns-record-heading-<%= dns_record.id %>">
      <button href="javascript:void(0);" class="btn btn-link hash-nav dns-record-expand-button" data-toggle="collapse" data-target="#dns-record-<%= dns_record.id %>" aria-expanded="false" aria-controls="dns-record-<%= dns_record.id %>">
        <%= dns_record.record_key %>
      </button>
      <a href="#dns-record-search|type:<%= dns_record.record_type %>" class="hash-nav">
        <button class="btn btn-sm btn-light" >
          <%= dns_record.record_type %>
        </button>
      </a>
      <% if dns_record.record_type == "A" %>
        <a href="#host-search|<%= dns_record.record_value %>" class="hash-nav">
          <button class="btn btn-sm btn-light" >
            <%= dns_record.record_value %>
          </button>
        </a>
      <% elsif dns_record.record_type == "CNAME" %>
        <a href="#domain-search|<%= dns_record.record_value %>" class="hash-nav">
          <button class="btn btn-sm btn-light" >
            <%= dns_record.record_value %>
          </button>
        </a>
      <% else %>
        <button href="#" class="btn btn-sm btn-light" >
          <%= dns_record.record_key %>
        </button>
      <% end %>
      <button href="javascript:void(0);" class="btn btn-light float-right" >
        <!-- todo: link to copy the path to the source file or something? -->
        Source: <%= dns_record.source_plugin %>
      </button>
  </div>

  <div id="dns-record-<%= dns_record.id %>" class="collapse" aria-labelledby="dns-record-heading-<%= dns_record.id %>" hostname="<%= dns_record.record_key %>">
    <div class="col">
    
      <%
        # in a view? shoot me
        
        require './plugins/Hm9kPlugin.rb'

        Dir["./plugins/*/plugin.rb"].each { |f| require f }
        Hm9kPlugin.register_plugins
        # plugins will populate HTML for nav-tabs (required to make tab switching work)
      %>
      <% Hm9kPlugin.plugins.each_with_index do |plugin, i| %>
        <% next if !plugin.visualize_in_dns_records? %>
        <div class="card border-light no-select">
          <div class="card-header table-secondary">
            <button href="javascript:void(0);" class="btn btn-primary hash-nav" type="button" data-toggle="collapse" data-target="#plugin-<%= "#{dns_record.id}-#{i}" %>" aria-expanded="false" aria-controls="plugin-<%= "#{dns_record.id}-#{i}" %>">
                  <%= plugin.name %> Event Details
            </button>

            <button href="javascript:void(0);" class="btn btn-danger float-right" type="btn">
                  Launch <%= plugin.name %> 
            </button>
          </div>

          <div id="plugin-<%= "#{dns_record.id}-#{i}" %>" class="collapse">
            <div class="row">
              <div class="col">
                <%= erb :"../plugins/#{plugin.name}/#{plugin.dns_record_feed_partial}", locals: {tool_name: plugin.name, dns_record: dns_record} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>