<%
def risk_to_color(risk)
  if risk == 0 || risk == nil
    return "secondary"
  elsif risk == 1
    return "info"
  elsif risk == 2
    return "warning"
  elsif risk == 3
    return "danger"
  else
    return ""
  end
end
%>

<% if (web_applications.size > 0) %>
  <div class="text-center">
    <h4>Web Screenshots</h4>
  </div>
  <table class="table table-hover table-condensed table-bordered">
    <thead>
      <tr>
        
      </tr>
    </thead>
    <tbody>
      <% web_applications.each_slice(1).to_a.each do |web_application_slice| %>
        <tr>
          <% web_application_slice.each do |web_application| %>
          <%
            scheme = web_application.scheme

            if (web_application.domain_id != nil)
              target = Domain.find(web_application.domain_id).domain_name
            else
              target = Host.find(web_application.host_id).ip
            end

            port = Service.find(web_application.service_id).port_number

            full_url = "#{scheme}://#{target}:#{port}"
            full_ss_path = "/ss/#{scheme}#{target}#{port}-ss.png"
          %> 
            <td class="noselect table-<%= risk_to_color(web_application.risk) %> text-center host-web-application-<%= web_application.id %>">
              <a href="#web-applications-<%= web_application.id %>" class="hash-nav">
                <%= full_url %>
                <br>
                <img style="width:300px;height:168px" class="" onerror="this.style.display='none';" src="<%= full_ss_path %>" >
              </a>
              </br>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>