<tr class="trigger-row-<%= trigger.id %>">
  <td class="text-center">
  	<div class="form-check" style="color:black;">
  	  <input type="checkbox" <%= (trigger.paused == true) ? "":"checked" %> class="form-check-input trigger-pause" data-trigger-id="<%= trigger.id %>"/>
  	</div>
  </td>
  
  <td style="word-break: break-word;color:black;">
    <%= trigger.name %>
  </td>

  <td style="word-break: break-word;color:black;">
  	<%= trigger.run_shell %>
  </td>
</tr>