
<%
  scheme = web_application.scheme

  if (web_application.domain_id != nil)
    target = Domain.find(web_application.domain_id).domain_name
  else
    target = Host.find(web_application.host_id).ip
  end

  port = Service.find(web_application.service_id).port_number

  full_url = "#{scheme}://#{target}:#{port}"
  full_ss_path = "/ss/#{scheme}#{target}#{port}-ss.png"
%> 

<%
counts = {}

dirsearch_scans = DirsearchScan.where(web_application_id: web_application.id)
dirsearch_scans.each do |scan|
  current_counts = DirsearchResult.where(dirsearch_scan_id: scan.id).group(:status).count
  counts = counts.merge(current_counts)
end
%>


<div class="card no-select" target="<%= full_url %>" domain="<%= target %>">
  <div class="card-header table-<%= risk_to_color(web_application.risk) %>" id="web-application-heading-<%= web_application.id %>">
    <a href="" class="hide-web-application" web_app_id="<%= web_application.id %>">
      <span class="fas fa-trash"></span>
    </a>
    <button href="javascript:void(0);" class="btn btn-sm btn-link hash-nav web-application-expand-button" data-toggle="collapse" data-target="#web-application-<%= web_application.id %>" aria-expanded="false" aria-controls="web-application-<%= web_application.id %>">
      Details
    </button>

    <!-- the card header display title -->
    <%= full_url %>

    <% if counts.size > 0 %>
      <a href="#">
        <span class="fas fa-list" title="Has dirsearch results"></span>
      </a><small>(<%= counts.sort.to_s %>)</small>
    <% end %>
  </div>

  <div id="web-application-<%= web_application.id %>" class="collapse" aria-labelledby="web-application-heading-<%= web_application.id %>">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#web-application-<%= web_application.id %>-meta" data-toggle="tab">Meta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#web-application-<%= web_application.id %>-map" data-toggle="tab">Sitemap</a>
      </li>
    </ul>

    <!-- meta -->
    <div class="tab-content">
      <div class="tab-pane active" id="web-application-<%= web_application.id %>-meta">
        <div class="col-lg-12">
          <select class="form-control web-application-set-risk" name="web-application-set-risk" web-application-id="<%= web_application.id %>">
            <option  <%= web_application.risk == 0 || web_application.risk == nil ? "selected" : "" %> value="0">Unreviewed</option>
            <option  <%= web_application.risk == 1 ? "selected" : "" %> value="1">Low</option>
            <option  <%= web_application.risk == 2 ? "selected" : "" %> value="2">Medium</option>
            <option  <%= web_application.risk == 3 ? "selected" : "" %> value="3">High</option>
          </select>
          <br/>


          <div class="justify-content-center custom-pic-header" style="border-style:solid;border-width:2px;">
              <img class="card-img" onerror="this.style.display='none';" src="<%= full_ss_path %>" >
          </div>
          <br/>

          <form class="web-application-comment" data-web-application-id="<%= web_application.id%>">
            <div class="form-group">
              <textarea class="form-control" name="web-application-comment" rows="5" placeholder="Notes"><%= web_application.description %></textarea>
              <button type="btn" class="web-application-comment btn btn-primary" data-web-application-id="<%=  web_application.id %>">Save</button>
            </div>
          </form>

          <%
            # in a view? shoot me
            
            require './plugins/Hm9kPlugin.rb'

            Dir["./plugins/*/plugin.rb"].each { |f| require f }
            Hm9kPlugin.register_plugins
            # plugins will populate HTML for nav-tabs (required to make tab switching work)
          %>
          <% Hm9kPlugin.plugins.each_with_index do |plugin, i| %>
            <% next if !plugin.visualize_in_web_applications? %>
            <div class="card border-light no-select">
              <div class="card-header table-secondary">
                <button href="javascript:void(0);" class="btn btn-primary hash-nav" type="button" data-toggle="collapse" data-target="#plugin-<%= "#{web_application.id}-#{i}" %>" aria-expanded="false" aria-controls="plugin-<%= "#{web_application.id}-#{i}" %>">
                      <%= plugin.name %>
                </button>

                <button href="javascript:void(0);" class="btn btn-danger float-right" type="btn">
                      Launch <%= plugin.name %> 
                </button>
              </div>

              <div id="plugin-<%= "#{web_application.id}-#{i}" %>" class="collapse">
                <div class="row">
                  <div class="col">
                    <%= erb :"../plugins/#{plugin.name}/#{plugin.web_application_feed_partial}", locals: {tool_name: plugin.name, web_application: web_application} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane" id="web-application-<%= web_application.id %>-map">


        <div class="col-lg-12">
          <h5>Pages</h5>
          <div class="form-group">
            <h5>Import page</h5>
            <textarea class="form-control parse-http-request-textarea-<%= web_application.id %>" rows="5" placeholder="Raw HTTP request data"></textarea>
            <button class="btn btn-block btn-danger parse-http-request-button" web-app-id="<%= web_application.id %>">Import Request</button>
          </div>

          <div id="page-accordion" class="container page-summary">
            <%= erb :'partials/_page_summary', layout: false, locals: {web_application: web_application} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>