<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" id="<%= tool_name %>-help-heading" data-toggle="collapse" data-target="#<%= tool_name %>-help" aria-expanded="false" aria-controls="<%= tool_name %>-help">
          Screenshot Help
        </button>
      </h5>
    </div>

    <div id="<%= tool_name %>-help" class="collapse" data-toggle="collapse" aria-labelledby="<%= tool_name %>-help-heading" data-parent="#accordion">
      <div class="card-body bg-light">
        <pre style="margin-bottom:0;">
Valid screenshots are saved automatically to:

1280x720: hackmaster9000/public/ss/[http|https][target][port]-ss.png
</pre>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= erb :'partials/_send_to_autoscan', layout: false, locals: {text: "Send to AutoScan [IPs]", autoscan_replacer: "%ip%", tool_name: tool_name} %>
    <%= erb :'partials/_send_to_autoscan', layout: false, locals: {text: "Send to AutoScan [Domains]", type: :domain, autoscan_replacer: "%domain%", tool_name: tool_name} %>

  </div>
</div>

<div class="row">
  <div class='col'>    
    <%= erb :'tools/tool_helpers/_text_input', locals: {
              tool_name: tool_name,
              label: "Target",
              field_name: "target",
              field_value: "",
              placeholder: "Target Domain(s) or IP(s) or mixed (ex: google.com 127.0.0.1)"
            }
    %>
  </div>
</div>

<hr>
<%= erb :'partials/_tool_runner', layout: false, locals: {tool_name: tool_name} %>

<script>
  <%= File.read("plugins/screenshot2/screenshot2.js") %>
</script>