<div class="row">
  <div class="col">
    <h2>Auto Scan Configuration</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Here you can define scans that will automatically execute when data is discovered by a plugin. For example, you might want to automatically launch a screenshot tool if nmap discovers that port 80 open.</p>

    <p>Try using the "Send to Auto Scan" button from any available tool after you've defined the tool options you want.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <input class="form-control" type="text" id="trigger-shell-cmd" placeholder="Shell command to run">
  </div>
</div>

<br/>

<div class="row">
  <div class="col">
    <select class="form-control" id="trigger-on">
        <option value="None">Run this command when a...</option>
        <option value="add-host">Host is discovered</option>
        <option value="add-service">Service is discovered</option>
        <option value="add-domain">Domain name is discovered (includes subdomains)</option>
        <option value="add-web-application">Web application is discovered</option>
        <option value="add-page">Webpage is discovered</option>
        <!-- <option value="add-dns-record">Raw DNS Record is discovered</option> -->
        <option value="add-nmap-script">Nmap Script output is discovered</option>
    </select>
  </div>
</div>

<br/>

<div class="row">
  <div class="col">
    <input class="form-control" type="text" id="trigger-name" placeholder="Scan Description">
  </div>
</div>

<br/>
<div class="row scan-conditions-helper">
  <div class="col">
    <h4>Scan Conditions <small>(All conditions must match to launch the scan. Leave blank for no conditions.)</small></h4>
  </div>
</div>

<div class="trigger-host-options">
  <div class="row">
    <div class="col">
      <h4>Shell Command Replacement Options</h4>
    </div>
  </div>

  <div class="row">
    <dt class="col-sm-3">%ip%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%ip%" will be replaced with an IP address discovered by a plugin.</dd>
  </div>
    <div class="row">
    <dt class="col-sm-3">%rand7%</dt>
    <dd class="col-sm-9">A random 7 character alphanumeric string, useful for randomly naming output files to prevent collisions.</dd>
  </div>
</div>


<div class="trigger-service-options">
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "service", data_name: "ip", placeholder: "80", default: :csv} %>

  <br/>

  <div class="row">
    <div class="col">
      <h5>Shell Command Replacement Options</h5>
    </div>
  </div>

  <div class="row">
    <dt class="col-sm-3">%ip%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%ip%" will be replaced with the IP address of a service discovered by a plugin.</dd>
    <dt class="col-sm-3">%port%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%port%" will be replaced with the port number of a service discovered by a plugin.</dd>
    <dt class="col-sm-3">%rand7%</dt>
    <dd class="col-sm-9">A random 7 character alphanumeric string, useful for randomly naming output files to prevent collisions.</dd>
  </div>
</div>

<div class="trigger-web-application-options">
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "web-application", data_name: "full_url", placeholder: "not very useful tbh", default: :csv} %>
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "web-application", data_name: "port", placeholder: "3000", default: :csv} %>
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "web-application", data_name: "scheme", placeholder: "https (also not  that useful)", default: :csv} %>

  <div class="row">
    <div class="col">
      <h5>Shell Command Replacement Options</h5>
    </div>
  </div>

  <div class="row">
    <dt class="col-sm-3">%full_url%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%full_url%" will be replaced with the full URL to a web application that is discovered by a plugin in the format: http://website.com:80</dd>
    <dt class="col-sm-3">%port%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%port%" will be replaced with the port number where a web application was discovered by a plugin.</dd>
    <dt class="col-sm-3">%scheme%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%scheme%" will be replaced with the scheme associated with a web application discovered by a plugin.</dd>
  </div>
</div>

<div class="trigger-nmap-script-options">
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "script", data_name: "scriptname", placeholder: "http-title", default: :csv} %>
  </br> 
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "script", data_name: "scriptoutput", placeholder: "80", default: :regex} %>
  </br> 
    <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "script", data_name: "port", placeholder: "80", default: :csv} %>
  </br>

  <div class="row">
    <div class="col">
      <h5>Shell Command Replacement Options</h5>
    </div>
  </div>

  <div class="row">
    <dt class="col-sm-3">%ip%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%ip%" will be replaced with an IP address discovered by a plugin.</dd>
    <dt class="col-sm-3">%port%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%port%" will be replaced with the port number of the service discovered by a plugin.</dd>
    <dt class="col-sm-3">%domain</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%domain%" will be replaced with a domain discovered by an nmap script. Sometimes scripts are discovered on an IP with no associated domain so this will end up blank.</dd>
  </div>
</div>

<div class="trigger-domain-options">
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "domain", data_name: "domain-name", placeholder: "example.com", default: :regex} %>
  </br> 

  <div class="row">
    <div class="col">
      <h5>Shell Command Replacement Options</h5>
    </div>
  </div>

  <div class="row">
    <dt class="col-sm-3">%domain%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%domain%" will be replaced with a domain discovered by a plugin.</dd>
  </div>
</div>

<div class="trigger-page-options">
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "page", data_name: "path", placeholder: "wp_admin.php", default: :csv} %>
  </br> 
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "page", data_name: "status", placeholder: "200,302", default: :csv} %>
  </br>
  <%= erb :'partials/_autoscan_matcher', layout: false, locals: {data_type: "page", data_name: "contentlength", placeholder: "4568", default: :regex} %>
  </br>


  <br/>

  <div class="row">
    <div class="col">
      <h5>Shell Command Replacement Options</h5>
    </div>
  </div>

  <div class="row">
    <dt class="col-sm-3">%full_url%</dt>
    <dd class="col-sm-9">In your shell command above, any instances of "%full_url%" will be replaced with the full URL to a page discovered to exist in a web application as returned by a plugin.</dd>
  </div>
</div>



<br/>

<div class="row">
  <div class="col">
    <button class="btn btn btn-primary form-control" id="create-trigger">Create Auto Scan (TODO: hide this button until trigger type is selected)</button>
  </div>
</div>

<hr>

<div class="row">
  <h2>Current Auto Scans</h5>
</div>
<div class="row">
  <div class="col-lg-12">
    <table id="trigger-table" width="100%" cellspacing="0" class="table table-primary fixed-width-table nowrap">
      <thead style="width:100%">
        <tr>
          <th>Active</th>
          <th>Description</th>
          <th>Load/Edit (TODO)</th>
        </tr>
      </thead>
      <!-- ? -->
      <tbody update-url="/projects/<%= @project.id %>/triggers/">
        <% @triggers.each do |trigger| %>
          <%= erb :'partials/_trigger_row', layout: false, locals: {trigger: trigger} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>