<%
# badly placed helper method for tools to find wordlists
def find_wordlists(path)
  results = []
  file_paths = Dir[path]
  file_names = Dir[path].map{|filename| File.basename(filename)}

  file_paths.each_with_index do |file_path, i|
    results << [ file_paths[i], file_names[i] ]
  end
  
  return results
end
%>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class=" navbar-brand">Project: <%= h @project.name %></a>
  <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link hm9k-nav hash-nav" href="#tools">Tools <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hm9k-nav hash-nav" href="#jobs">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hm9k-nav hash-nav" href="#autoscan">Auto Scan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hm9k-nav hash-nav" href="#hosts">Hosts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hm9k-nav hash-nav" href="#domains">Domains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hm9k-nav hash-nav" href="#web-applications">Web Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hm9k-nav hash-nav" href="#filters">Filters</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link hm9k-nav hash-nav" href="/projects">Other Projects</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link hm9k-nav hash-nav" href="/login">Logout</a>
      </li>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="tab-content">
        <div class="tab-pane active" id="tools">
          <%= erb :'tools' %>
        </div>

        <div class="tab-pane" id="jobs">
          <%= erb :'jobs' %>
        </div>

        <div class="tab-pane" id="autoscan">
          <%= erb :'autoscan' %>
        </div>

        <div class="tab-pane" id="domains">
          <%= erb :'domains' %>
        </div>

        <div class="tab-pane" id="hosts">
          <%= erb :'hosts' %>
        </div>

        <div class="tab-pane" id="web-applications">
          <%= erb :'web_applications' %>
        </div>
      </div>
    </div>
  </div>

  <div class="credential-div-please-dont-xss-me" terminal-token="<%= @user.session_key %>" project-id="<%= @project.uuid %>"></div>

  <div class="footer fixed-bottom wrapper" style="height:10%;margin-bottom:65px;">
    <div class="col-flex">
      <a class="new-terminal-button" style="font-size:14px;" href="#" onclick="return false;">&nbsp;[new terminal]</a>
      <a class="maximize-terminals-button" style="font-size:14px;" href="#" onclick="return false;">&nbsp;[maximize]</a>
      <a class="minimize-terminals-button" style="font-size:14px;" href="#" onclick="return false;">&nbsp;[minimize]</a>
      <!-- didnt work lol <a class="focus-terminal-button" style="font-size:14px;" href="#" onclick="return false;">&nbsp;[focus]</a> -->

    </div>

    <div id="terminal-container">
        <ul class="nav nav-tabs terminal-tabs-go-here">
          <!-- terminal tab navigation -->
          <!-- JS will add an <li class="nav-item"> here to make a new clickable tab for a given terminal -->
        </ul>

        <div class="tab-content clearfix terminals-go-here">
          <!-- content of terminal tabs -->
          <!-- JS will insert a <div class="tab-pane active hm9k-term" tid=""> here and initialize it to a terminal -->
        </div>
    </div> <!-- end row -->
  </div>
</div>

<div class="row" style="margin-bottom:900px;">

</div>

 <script src="/hopscotch.js"></script>
 <script src="/hm9k.js"></script>
