<%
  # in a view? shoot me
  
  require './plugins/Hm9kPlugin.rb'

  Dir["./plugins/*/plugin.rb"].each { |f| require f }
  Hm9kPlugin.register_plugins
  # plugins will populate HTML for nav-tabs (required to make tab switching work)
%>

<ul class="nav nav-tabs" style="display:none;">
  <li class="nav-item">
    <a class="nav-link active" href="#tab-help" data-toggle="tab">DIRECTORY</a>
  </li>
  <% Hm9kPlugin.plugins.each do |plugin| %>
    <% next if !plugin.has_tool_ui? %>
    
    <li class="nav-item">
      <a class="nav-link" href="#tab-<%= plugin.name %>" data-toggle="tab"><%= plugin.name %></a>
    </li>
  <% end %>
</ul>

<div class="tab-content clearfix">
  <div class="tab-pane active" id="tab-help">
    <%= erb :'tools/_help' %>
  </div>
  <% Hm9kPlugin.plugins.each do |plugin| %>
    <% next if !plugin.has_tool_ui? %>

    <div class="tab-pane" id="tab-<%= plugin.name %>">
      <%= erb :"../plugins/#{plugin.name}/#{plugin.partial}", locals: {tool_name: plugin.name} %>
    </div>
  <% end %>
</div>