<div class='form-group'>
  <label for="<%= tool_name %>-<%= field_name %>"><%= label %></label>
  <input class="form-control form-control-sm" id="<%= tool_name %>-<%= field_name %>" placeholder="<%= placeholder %>" value="<%= field_value %>" required="true" type="text" />
</div>