<div class='form-group'>
  <div class="form-check">
    <input type="checkbox" <%= (checked == true) ? "checked" : "" %> class="form-check-input" id="<%= tool_name %>-toggle-<%= field_name %>" name="<%= tool_name %>-toggle-<%= field_name %>"/>
    <label class="form-check-label" for="<%= tool_name %>-<%= field_name %>-toggle"><%= label %></label>
  </div>

  <input class="form-control form-control-sm" id="<%= tool_name %>-<%= field_name %>" name="<%= tool_name  %>-<%= field_name %>" placeholder="<%= placeholder %>" value="<%= field_value %>" type="text" />
</div>