<div id="accordion">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" id="<%= tool_name%>-help-heading" data-toggle="collapse" data-target="#<%= tool_name %>-help" aria-expanded="false" aria-controls="<%= tool_name %>-help">
          Spiderfoot Help
        </button>
      </h5>
    </div>

  <div id="<%= tool_name %>-help" class="collapse" data-toggle="collapse" aria-labelledby="<%= tool_name %>-help-heading" data-parent="#accordion">
      <div class="card-body bg-light">
        <pre style="margin-bottom:0;">         Modules available:
sfp_abusech                Check if a host/domain, IP or netblock is malicious according to abuse.ch.
sfp_abuseipdb              Check if a netblock or IP is malicious according to AbuseIPDB.com.
sfp_accounts               Look for possible associated accounts on nearly 200 websites like Ebay, Slashdot, reddit, etc.
sfp_adblock                Check if linked pages would be blocked by AdBlock Plus.
sfp_ahmia                  Search Tor 'Ahmia' search engine for mentions of the target domain.
sfp_alienvault             Obtain information from AlienVault Open Threat Exchange (OTX)
sfp_alienvaultiprep        Check if an IP or netblock is malicious according to the AlienVault IP Reputation database.
sfp_apility                Search Apility API for IP address and domain reputation.
sfp_archiveorg             Identifies historic versions of interesting files/pages from the Wayback Machine.
sfp_arin                   Queries ARIN registry for contact information.
sfp_azureblobstorage       Search for potential Azure blobs associated with the target and attempt to list their contents.
sfp_badipscom              Check if a domain or IP is malicious according to badips.com.
sfp_bambenek               Check if a host/domain or IP appears on Bambenek Consulting's C&C tracker lists.
sfp_base64                 Identify Base64-encoded strings in any content and URLs, often revealing interesting hidden information.
sfp_bgpview                Obtain network information from BGPView API.
sfp_binaryedge             Obtain information from BinaryEdge.io's Internet scanning systems about breaches, vulerabilities, torrents and passive DNS.
sfp_bingsearch             Obtain information from bing to identify sub-domains and links.
sfp_bingsharedip           Search Bing for hosts sharing the same IP.
sfp_binstring              Attempt to identify strings in binary content.
sfp_bitcoin                Identify bitcoin addresses in scraped webpages.
sfp_blockchain             Queries blockchain.info to find the balance of identified bitcoin wallet addresses.
sfp_blocklistde            Check if a netblock or IP is malicious according to blocklist.de.
sfp_botscout               Searches botscout.com's database of spam-bot IPs and e-mail addresses.
sfp_builtwith              Query BuiltWith.com's Domain API for information about your target's web technology stack, e-mail addresses and more.
sfp_callername             Lookup US phone number location and reputation information.
sfp_censys                 Obtain information from Censys.io
sfp_cinsscore              Check if a netblock or IP is malicious according to cinsscore.com's Army List.
sfp_circllu                Obtain information from CIRCL.LU's Passive DNS and Passive SSL databases.
sfp_citadel                Searches Leak-Lookup.com's database of breaches.
sfp_cleanbrowsing          Check if a host would be blocked by Cleanbrowsing.org DNS
sfp_cleantalk              Check if an IP is on CleanTalk.org's spam IP list.
sfp_clearbit               Check for names, addresses, domains and more based on lookups of e-mail addresses on clearbit.com.
sfp_coinblocker            Check if a host/domain or IP appears on CoinBlocker lists.
sfp_commoncrawl            Searches for URLs found through CommonCrawl.org.
sfp_comodo                 Check if a host would be blocked by Comodo DNS
sfp_company                Identify company names in any obtained data.
sfp_cookie                 Extract Cookies from HTTP headers.
sfp_crossref               Identify whether other domains are associated ('Affiliates') of the target.
sfp_crt                    Gather hostnames from historical certificates in crt.sh.
sfp_customfeed             Check if a host/domain, netblock, ASN or IP is malicious according to your custom feed.
sfp_cybercrimetracker      Check if a host/domain or IP is malicious according to cybercrime-tracker.net.
sfp_darksearch             Search the Darksearch.io Tor search engine for mentions of the target domain.
sfp_digitaloceanspace      Search for potential Digital Ocean Spaces associated with the target and attempt to list their contents.
sfp_dnsbrute               Attempts to identify hostnames through brute-forcing common names and iterations.
sfp_dnscommonsrv           Attempts to identify hostnames through common SRV.
sfp_dnsneighbor            Attempt to reverse-resolve the IP addresses next to your target to see if they are related.
sfp_dnsraw                 Retrieves raw DNS records such as MX, TXT and others.
sfp_dnsresolve             Resolves Hosts and IP Addresses identified, also extracted from raw content.
sfp_dnszonexfer            Attempts to perform a full DNS zone transfer.
sfp_dronebl                Query the DroneBL  database for open relays, open proxies, vulnerable servers, etc.
sfp_duckduckgo             Query DuckDuckGo's API for descriptive information about your target.
sfp_email                  Identify e-mail addresses in any obtained data.
sfp_emailformat            Look up e-mail addresses on email-format.com.
sfp_emailrep               Search EmailRep.io for email address reputation.
sfp_errors                 Identify common error messages in content like SQL errors, etc.
sfp_ethereum               Identify ethereum addresses in scraped webpages.
sfp_filemeta               Extracts meta data from documents and images.
sfp_flickr                 Look up e-mail addresses on Flickr.
sfp_fortinet               Check if an IP is malicious according to Fortiguard.com.
sfp_fraudguard             Obtain threat information from Fraudguard.io
sfp_fringeproject          Obtain network information from Fringe Project API.
sfp_fsecure_riddler        Obtain network information from F-Secure Riddler.io API.
sfp_fullcontact            Gather domain and e-mail information from fullcontact.com.
sfp_github                 Identify associated public code repositories on Github.
sfp_googlemaps             Identifies potential physical addresses and latitude/longitude coordinates.
sfp_googlesearch           Obtain information from the Google Custom Search API to identify sub-domains and links.
sfp_gravatar               Retrieve user information from Gravatar API.
sfp_greynoise              Obtain information from Greynoise.io's Enterprise API.
sfp_h1nobbdde              Check external vulnerability scanning/reporting service h1.nobbd.de to see if the target is listed.
sfp_hackertarget           Search HackerTarget.com for hosts sharing the same IP.
sfp_haveibeenpwned         Check HaveIBeenPwned.com for hacked e-mail addresses identified in breaches.
sfp_honeypot               Query the projecthoneypot.org database for entries.
sfp_hosting                Find out if any IP addresses identified fall within known 3rd party hosting ranges, e.g. Amazon, Azure, etc.
sfp_hostsfilenet           Check if a host/domain is malicious according to hosts-file.net Malicious Hosts.
sfp_hunter                 Check for e-mail addresses and names on hunter.io.
sfp_iknowwhatyoudownload   Check iknowwhatyoudownload.com for IP addresses that have been using BitTorrent.
sfp_instagram              Gather information from Instagram profiles.
sfp_intelx                 Obtain information from IntelligenceX about identified IP addresses, domains, e-mail addresses and phone numbers.
sfp_intfiles               Identifies potential files of interest, e.g. office documents, zip files.
sfp_ipinfo                 Identifies the physical location of IP addresses identified using ipinfo.io.
sfp_ipstack                Identifies the physical location of IP addresses identified using ipstack.com.
sfp_isc                    Check if an IP is malicious according to SANS ISC.
sfp_junkfiles              Looks for old/temporary and other similar files.
sfp_malwaredomainlist      Check if a host/domain, IP or netblock is malicious according to malwaredomainlist.com.
sfp_malwaredomains         Check if a host/domain is malicious according to malwaredomains.com.
sfp_malwarepatrol          Searches malwarepatrol.net's database of malicious URLs/IPs.
sfp_metadefender           Search MetaDefender API for IP address and domain IP reputation.
sfp_mnemonic               Obtain Passive DNS information from PassiveDNS.mnemonic.no.
sfp_multiproxy             Check if an IP is an open proxy according to multiproxy.org' open proxy list.
sfp_myspace                Gather username and location from MySpace.com profiles.
sfp_names                  Attempt to identify human names in fetched content.
sfp_neutrinoapi            Search NeutrinoAPI for IP address info and check IP reputation.
sfp_norton                 Check if a host would be blocked by Norton ConnectSafe DNS
sfp_nothink                Check if a host/domain, netblock or IP is malicious according to Nothink.org.
sfp_numpi                  Lookup USA/Canada phone number location and carrier information from numpi.com.
sfp_numverify              Lookup phone number location and carrier information from numverify.com.
sfp_onioncity              Search Tor 'Onion City' search engine for mentions of the target domain.
sfp_onionsearchengine      Search Tor onionsearchengine.com for mentions of the target domain.
sfp_openbugbounty          Check external vulnerability scanning/reporting service openbugbounty.org to see if the target is listed.
sfp_opencorporates         Look up company information from OpenCorporates.
sfp_opendns                Check if a host would be blocked by OpenDNS DNS
sfp_openphish              Check if a host/domain is malicious according to OpenPhish.com.
sfp_openstreetmap          Retrieves latitude/longitude coordinates for physical addresses from OpenStreetMap API.
sfp_pageinfo               Obtain information about web pages (do they take passwords, do they contain forms, etc.)
sfp_pastebin               PasteBin scraping (via Google) to identify related content.
sfp_pgp                    Look up e-mail addresses in PGP public key servers.
sfp_phishtank              Check if a host/domain is malicious according to PhishTank.
sfp_phone                  Identify phone numbers in scraped webpages.
sfp_portscan_tcp           Scans for commonly open TCP ports on Internet-facing systems.
sfp_psbdmp                 Check psbdmp.cc (PasteBin Dump) for potentially hacked e-mails and domains.
sfp_pulsedive              Obtain information from Pulsedive's API.
sfp_quad9                  Check if a host would be blocked by Quad9
sfp_ripe                   Queries the RIPE registry (includes ARIN data) to identify netblocks and other info.
sfp_riskiq                 Obtain information from RiskIQ's (formerly PassiveTotal) Passive DNS and Passive SSL databases.
sfp_robtex                 Search Robtex.com for hosts sharing the same IP.
sfp_s3bucket               Search for potential Amazon S3 buckets associated with the target and attempt to list their contents.
sfp_scylla                 Gather breach data from Scylla API.
sfp_securitytrails         Obtain Passive DNS and other information from SecurityTrails
sfp_shodan                 Obtain information from SHODAN about identified IP addresses.
sfp_similar                Search various sources to identify similar looking domain names, for instance squatted domains.
sfp_skymem                 Look up e-mail addresses on Skymem.
sfp_slideshare             Gather name and location from SlideShare profiles.
sfp_social                 Identify presence on social media networks such as LinkedIn, Twitter and others.
sfp_socialprofiles         Tries to discover the social media profiles for human names identified.
sfp_sorbs                  Query the SORBS database for open relays, open proxies, vulnerable servers, etc.
sfp_spamcop                Query various spamcop databases for open relays, open proxies, vulnerable servers, etc.
sfp_spamhaus               Query the Spamhaus databases for open relays, open proxies, vulnerable servers, etc.
sfp_spider                 Spidering of web-pages to extract content for searching.
sfp_spyonweb               Search SpyOnWeb for hosts sharing the same IP address, Google Analytics code, or Google Adsense code.
sfp_sslcert                Gather information about SSL certificates used by the target's HTTPS sites.
sfp_ssltools               Gather information about SSL certificates from SSLTools.com.
sfp_strangeheaders         Obtain non-standard HTTP headers returned by web servers.
sfp_talosintel             Check if a netblock or IP is malicious according to talosintelligence.com.
sfp_threatcrowd            Obtain information from ThreatCrowd about identified IP addresses, domains and e-mail addresses.
sfp_threatexpert           Check if a host/domain or IP is malicious according to ThreatExpert.com.
sfp_threatminer            Obtain information from ThreatMiner's database for passive DNS and threat intelligence.
sfp_tldsearch              Search all Internet TLDs for domains with the same name as the target (this can be very slow.)
sfp_tool_cmseek            Identify what Content Management System (CMS) might be used.
sfp_tool_dnstwist          Identify bit-squatting, typo and other similar domains to the target using a local DNSTwist installation.
sfp_tool_whatweb           Identify what software is in use on the specified website.
sfp_torch                  Search Tor 'TORCH' search engine for mentions of the target domain.
sfp_torexits               Check if an IP or netblock appears on the torproject.org exit node list.
sfp_totalhash              Check if a host/domain or IP is malicious according to TotalHash.com.
sfp_twitter                Gather name and location from Twitter profiles.
sfp_uceprotect             Query the UCEPROTECT databases for open relays, open proxies, vulnerable servers, etc.
sfp_urlscan                Search URLScan.io cache for domain information.
sfp_venmo                  Gather user information from Venmo API.
sfp_viewdns                Reverse Whois lookups using ViewDNS.info.
sfp_virustotal             Obtain information from VirusTotal about identified IP addresses.
sfp_voipbl                 Check if an IP or netblock is an open PBX according to VoIPBL OpenPBX IPs.
sfp_vxvault                Check if a domain or IP is malicious according to VXVault.net.
sfp_watchguard             Check if an IP is malicious according to Watchguard's reputationauthority.org.
sfp_webanalytics           Identify web analytics IDs in scraped webpages and DNS TXT records.
sfp_webframework           Identify the usage of popular web frameworks like jQuery, YUI and others.
sfp_webserver              Obtain web server banners to identify versions of web servers being used.
sfp_whatcms                Check web technology using WhatCMS.org API.
sfp_whois                  Perform a WHOIS look-up on domain names and owned netblocks.
sfp_whoisology             Reverse Whois lookups using Whoisology.com.
sfp_whoxy                  Reverse Whois lookups using Whoxy.com.
sfp_wigle                  Query wigle.net to identify nearby WiFi access points.
sfp_wikileaks              Search Wikileaks for mentions of domain names and e-mail addresses.
sfp_wikipediaedits         Identify edits to Wikipedia articles made from a given IP address or username.
sfp_xforce                 Obtain information from IBM X-Force Exchange
sfp_yandexdns              Check if a host would be blocked by Yandex DNS
sfp_zoneh                  Check if a hostname/domain appears on the zone-h.org 'special defacements' RSS feed.</pre>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= erb :'partials/_send_to_autoscan', layout: false, locals: {text: "Send to AutoScan [IP's]", autoscan_replacer: "%ip%", tool_name: tool_name} %>
  </div>
</div>

<div class="row">
  <div class='col'>
    <%= erb :'tools/tool_helpers/_text_input', locals: {
              tool_name: tool_name,
              label: "Target",
              field_name: "target",
              field_value: "",
              placeholder: "Input to spiderfoot"
            }
    %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= erb :'partials/_config_saver', layout: false, locals: {tool_name: tool_name} %>
  </div>
</div>

<hr>

<form id="<%= tool_name %>-options">
  <div class="row">
    <div class='col'>
      <%= erb :'tools/tool_helpers/_text_input_optional', locals: {
              tool_name: tool_name,
              label: "Modules",
              field_name: "modules",
              field_value: "sfp_dnsbrute",
              checked: true,
              placeholder: ""
          }
      %>

    </div>
  </div>
</form>

<hr>

<%= erb :'partials/_tool_runner', layout: false, locals: {tool_name: "spiderfoot"} %>

<script>
  <%= File.read("plugins/spiderfoot/spiderfoot.js") %>
</script>